[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
"flake8" = "*"
pytest = "*"
sphinx = "*"
twine = "*"
invoke = "*"
requirementslib = {path = ".", editable = true}
sphinx_rtd_theme = "*"
rope = "*"
towncrier = "*"

[scripts]
black = 'black src/requirementslib/ --exclude "/(\.git|\.hg|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist|src/requirementslib/_vendor)/"'
mknews = "inv news.generate"
news = "inv news.add"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
