[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = {version = "*", markers = "python_version>='3.6'"}
"flake8" = "*"
pytest = "*"
sphinx = "*"
twine = "*"
invoke = "*"
colorama = {version = "*", markers = "os_name == 'nt'"}
requirementslib = {path = ".", editable = true, extras = ["tests"]}
sphinx_rtd_theme = "*"
pip_shims = "*"
"vistir" = ">=0.1.6"
rope = "*"
towncrier = "*"
parver = "*"
ptpython = "*"
pytest-sugar = "*"

[scripts]
black = 'black src/requirementslib/ --exclude "/(\.git|\.hg|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist)/"'
mknews = "inv news.generate"
news = "inv news.add"
tests = "pytest -v --ignore=src/requirementslib/_vendor/ tests"
draft = "inv release.generate-changelog --draft"
changelog = "inv release.generate-changelog --commit"
bump = "inv release.bump-version"
build = "inv release.build-dists"
upload = "inv release.upload-dists"
tag = "inv release.tag-version"
docs = "inv build-docs"
mdchangelog = "pandoc CHANGELOG.rst -f rst -t markdown -o CHANGELOG.md"

[pipenv]
allow_prereleases = true
