[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
"flake8" = "*"
pytest = "*"
sphinx = "*"
twine = "*"
invoke = "*"
requirementslib = {path = ".", editable = true}
sphinx_rtd_theme = "*"
rope = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
